@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(images/bg-pattern-top.svg),
    url(images/bg-pattern-bottom.svg);
    
    font-family: 'Kumbh Sans';
    font-size: 18px;

    background-color: hsl(185, 75%, 39%);
    background-repeat: no-repeat;
    background-position: -730px -600px,
    40vw 40vh;

}

.container {
    height: 98vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile{
    border-radius: 15px;
    width: 340px;
    height: 400px;
    background: white;
}

.column1{
    height: calc(400px/3);
    background-image: url(images/bg-pattern-card.svg);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.profile-picture{
    position: relative;
    display: inline-block;
    left: calc(340px/2 - 96px/2);
    top: calc(400px/3 - 96px/2);
}

img {
    border: 5px solid white;
    border-radius: 50%;
}

.column2{
    height: calc(400px/3*1.2);
    border-bottom: 1px solid rgb(211, 210, 210);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.column2 .user-info {
    height: 60%;
}

.user-info p{
    margin-top: 15px;
    font-weight: 700;
}

p span {
    color: gray;
    font-weight: 400;
    margin-left: 5px;
}

.user-info div {
    margin-top: 15px;
    color: gray;
    font-weight: 400;
    text-align: center;
}

.column3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(400px - 400px/3 - 400px/3*1.2);
} 

.column3 div {
    text-align: center;
    width: calc(375px/3);
}

.column3 div p{
    font-weight: 700;
}
.column3 div small{
    color: gray;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 2px;
    position: relative;
    top: 5px;
    margin-top: 15px;
}

@media (min-width: 1440px) {
    body {
        background-position: -270px -470px,
        50vw 50vh;     
    }
}

@media (min-width: 1920px) {
    body {
        background-position: -100px -400px,
        50vw 50vh;     
    }
}